body{
    background-color: #6693c1;
    display: grid;
    place-self: center;

}
.square{
    display: grid;
    width: 60%;
    place-self: center;
    background-color: #6693c1;
}
.form{
    display: grid;
    place-self: center;
    width: 50%;
    height:15em;
    margin-top: 150px;
    margin-bottom: 100px;
    background-color: antiquewhite;
    border: 3px solid #353531;
    border-radius: 20px;
    box-shadow: 0.4rem 1rem #353531;
}
.up{
    margin: none;
    border-bottom: 2px solid #353531;
}
.left-cir{
    margin-left:18px;
    
    
}
.cir1{
    margin-top: 5px;
    height: 15px;
    width: 15px;
    background-color: #c16666;
    border-radius: 50%;
    border: 2px solid #353531;
    display: inline-block;
}
.cir2{
    height: 15px;
    width: 15px;
    background-color: #edf871;
    border: 2px solid #353531;
    border-radius: 50%;
    display: inline-block;
}
.cir3{
    height: 15px;
    width: 15px;
    background-color: #66c181;
    border: 2px solid #353531;
    border-radius: 50%;
    display: inline-block;
}
.header{
    position: relative;
    float: right;
    border:none;
    width: 130px;
    height: 20px;
    text-decoration: none;
    margin-top: 3px;
    
}
.header>input{
    width: 60%;
    border: none;
    padding: none;
    background-color: antiquewhite;
}

.ta{
    width:auto;
    box-sizing: border-box;
} 
.t{
    
    box-sizing: border-box;
    background-color: antiquewhite;
    border: none;
    padding: 0%;
    font-size: 2em;
    border-radius: 0 0 20px 20px;
    
    height: 80%;
    width: 100%;
    
    resize: none;
    
}
.t:focus-visible{
    outline: none;
}

.download{
    height: 3em;
    width: 5em;
   
    margin-top: 5em;
    display: grid;
    place-self: center;
}
button{
    background-color: #c16666;
    border: 0.1em solid #353531;
    font-size: 2em;
    border-radius: 3px;
}